@inherits Umbraco.Web.Mvc.UmbracoViewPage
<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center py-4">
                <ul class="list-inline-item">
                    <li class="list-inline-item">
                        <a href="#" >
                            <i class="fa fa-twitter" style="font-size:48px;color:white"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-white">Copyright &copy; @DateTime.Now.Year Highly Developed</p>
            </div>
        </div>
    </div>
</footer>